# Node modules
node_modules/
frontend/node_modules/
server/node_modules/

# Environment variables
.env
frontend/.env
server/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
frontend/dist
frontend/build

# OS files
.DS_Store
Thumbs.db
